.title {
  border-bottom: 1px solid black;
  color: orange;
  font-size: 40px;
  margin: 10px;
  text-indent: 850px;
}

.pageTitle {
  border-bottom: 1px solid black;
  color: orange;
  text-align: center;
}

.list {
  font-size: 30px;
}
.flex {
  display: flex;
}

.middle {
  margin: auto;
}

thead {
  font-size: 22px;
}
td {
  width: 450px;
  text-align: center;
}

input[type='submit'] {
  -webkit-appearance: none;
  font-size: 25px;
}
p {
  font-size: 20px;
}

.image {
  padding: 10px;
}
